<div class="container" *ngIf="medecins && medecins.length">
  <h2>Demande de Rendez-vous Médical</h2>

  <form [formGroup]="form" (ngSubmit)="creer()">
    <label for="phone">Numéro de téléphone :</label>
    <input type="tel" id="phone" name="phone" formControlName="tel">
      
    <label for="doctor">Choix du médecin :</label>
    <select id="doctor" name="doctor" formControlName="medecin" (change)="onDoctorSelection()">
      <option [value]="d.email" *ngFor="let d of medecins">{{ d.nom }}</option>
    </select>

    <label for="date">Date souhaitée :</label>
    <input type="date" id="date" name="date" formControlName="dateRendezVous">
      
    <label for="time">Heure souhaitée :</label>
    <select id="time" name="time" formControlName="heure">
      <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
    </select>  
    <button type="submit">Demander un rendez-vous</button>
  </form>
</div>
<div *ngIf="!medecins || !medecins.length">
  <p>Aucun médecin disponible pour le moment.</p>
</div>
