<div class="container1">
    <section class="container">
      <div class="form login">
          <div class="form-content">
              <header>Sign Up</header>
              <form [formGroup]="form" (ngSubmit)="signup()">
                  <div class="field input-field">
                    <input type="text" placeholder="nom"  formControlName="nom">
                  </div>
                  <div class="field input-field">
                    <input type="text" placeholder="prenom" formControlName="prenom">
                  </div>
                  <div class="field input-field">
                    <select name="role" formControlName="role">
                      <option value="" disabled selected hidden>Choisissez un rôle</option>
                      <option value="medecin">Médecin</option>
                      <option value="patient">Patient</option>
                    </select>
                  </div>
                  <div class="field button-field">
                      <button>Sign-up</button>
                  </div>
                 
              </form>
              <div class="form-link">
                  <span>already have an account? <a href='/login' class="link signup-link">Login</a></span>
              </div>
          </div>
       </div>
    </section>
    </div>
        