@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';

html, body { height: 100%; }
a{
    cursor: pointer;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
