<body>
  <!-- ======= Barre supérieure ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
      </div>
    </div>
  </div>

  <!-- ======= En-tête ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="home">Mon Docteur</a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" (click)="scrollToSection('hero')">Accueil</a></li>
          <li><a class="nav-link scrollto" (click)="scrollToSection('specialite')">Spécialités</a></li>
          <li><a class="nav-link scrollto" (click)="scrollToSection('doctors')">Médecins</a></li>
          <li><a class="nav-link scrollto" href="login">Login</a></li>
          <li><a class="nav-link scrollto" href="signup">SignUp</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    
    </div>
  </header>
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Bienvenue</h1>
      <h2>Votre plateforme de rendez-vous médical préférée!</h2>
      <a href="/login" class="btn-get-started scrollto">Inscription</a>
    </div>
  </section>

  <main id="main">
      <section id="why-us" class="why-us">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
              <div class="content">
                <h3>Surmonter l'épreuve du cance</h3>
                <p>
                  Le Dr. Sophie Martin partage son expérience en tant que médecin confrontée à un diagnostic de cancer inattendu. À travers son livre inspirant, elle détaille son parcours émotionnel, les défis médicaux et les leçons tirées de sa lutte contre la maladie, offrant ainsi de l'espoir et du réconfort aux patients et à leurs familles.
                  </p>
              </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-receipt"></i>
                      <h4>Vivre avec une Maladie Chronique</h4>
                      <p>Notre plateforme vous permet de planifier vos rendez-vous médicaux en toute simplicité, combinant technologie de pointe et services de santé</p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-cube-alt"></i>
                      <h4>Rétablissement après un Accident Majeur</h4>
                      <p>Sarah Leclerc partage son histoire inspirante sur la façon dont elle a surmonté un grave accident de voiture et transformé cette épreuve en une opportunité de renaissance. En tant qu'athlète paralympique et conférencière, elle motive les autres à croire en leur résilience et à surmonter les obstacles.</p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-images"></i>
                      <h4>Perte de Poids et Transformation de Vie</h4>
                      <p>Martin Lambert partage son propre parcours de transformation physique et émotionnelle, passant d'un mode de vie sédentaire à une perte de poids significative et à une meilleure santé. En tant que coach en nutrition, il guide les autres dans leur voyage vers un mode de vie plus sain et équilibré.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </section>
      <!-- ======= Counts Section ======= -->
    <!--  <section id="counts" class="counts">
        <div class="container">
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6">
              <div class="count-box">
                <i class="fas fa-user-md"></i>
                <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
                <p>Doctors</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
              <div class="count-box">
                <i class="far fa-hospital"></i>
                <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
                <p>Departments</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
              <div class="count-box">
                <i class="fas fa-flask"></i>
                <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
                <p>Research Labs</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
              <div class="count-box">
                <i class="fas fa-award"></i>
                <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
                <p>Awards</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>--><!-- End Counts Section -->
  
      <!-- ======= Services Section ======= -->
      <section id="specialite" class="services">
        <div class="container">
  
          <div class="section-title">
            <h2>Specialites</h2>
            <p>Les spécialités médicales couvrent un large éventail de domaines de la santé, chacune se concentrant sur des aspects spécifiques du diagnostic, du traitement et de la gestion des problèmes de santé..</p>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" *ngFor="let s of specialites">
              <div class="icon-box">
                <div class="icon"><i class="fas fa-heartbeat"></i></div>
                <h4><a href="">{{s.label}}</a></h4>
                <p>{{s.description}}</p>
              </div>
            </div>
          </div>
  
        </div>
      </section>
      <section id="doctors" class="doctors">
        <div class="container">
  
          <div class="section-title">
            <h2>Doctors</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-6" *ngFor="let m of medecins">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="assets/img/doctors/{{ m?.image ? getLastPartOfPath(m.image) : '' }}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>{{m.nom}}</h4>
                  <div *ngFor="let s of m.specialites">
                  <span >{{s.label}}</span>
                  <p>{{s.description}}</p>
                  </div>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
  
            </div>
  
        </div>
      </section>
<footer id="footer">

  
  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Droit d'auteur <strong><span>Chedi Trabelsi&Rania Werfelli</span></strong>. Tous droits réservés
      </div>
      
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="https://www.linkedin.com/in/chedi-trabelsi-0b8861230/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      <a href="https://www.linkedin.com/in/chedi-trabelsi-0b8861230/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>
  
  